label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select {
    margin-bottom: 10px;
  }
  .filter-form{
    padding: 20px;
  }
  button {
    margin-right: 10px;
  }
  
  div > div {
    margin-bottom: 10px;
  }
  
  hr {
    margin: 20px 0;
  }
  
  .product-body{
    padding: 100px;
  }
  /* ProductList.css */

.product-list-container {
  display: grid;
  grid-gap: 20px; /* spacing between grid items */
  
}

.product-item {
  border: 1px solid #ccc;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ADDFFF;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

@media (min-width: 768px) {
  /* For screens with minimum width 768px and above */
  .product-list-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns in each row */
  }
}

@media (max-width: 767px) {
  /* For screens with maximum width 767px */
  .product-list-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns in each row */
  }
}

@media (max-width: 479px) {
  /* For screens with maximum width 479px */
  .product-list-container {
    grid-template-columns: 1fr; /* 1 column in each row */
  }
}

  /* .product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    max-width: 500px;
  } */
  

  .cart-container {
    background-color: #9b9898;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .cart-item {
    padding: 20px;
    border-radius: 10px;
  margin-bottom: 50px;
   background-color: #01F9C6;
  }
  